<% layout('/layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/index/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<body>
    <h3>All listings</h1>
    <!-- <form action="/listings/new">
        <button class="btn">Create new listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(list of lists){ %>
        <div class="card col" style="width: 20rem;">
            <img style="height: 20rem;" src="<%=list.image.url %>" class="card-img-top" alt="listing-image" >
            <div class="card-body">
                <p class="card-text">
                   <b> <%=list.title %> </b> <br>
                    &#8377 <%=list.price.toLocaleString("en-IN")%> / night
                </p>
            </div>
        </div>
        <% } %>
    </div>
</body>