<% layout('/layouts/boilerplate') %>
<link rel="stylesheet" href="/css/new/style.css">
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <!-- <br><br> -->
            <h3 style="text-align: center; font-weight: 560; text-transform: capitalize;">Create new listings</h3>
            <form action="/listings/new" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input type="text" name="listing[title]" id="title" required placeholder="Enter a catch title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea class="form-control" name="listing[description]" id="description" placeholder="message"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"><b>Image Link</b></label>
                    <input type="text" name="listing[image][url]" placeholder="enter image URL/link" id="image" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input class="form-control" type="number" name="listing[price]" id="price" placeholder="12000" required>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label"><b>country</b></label>
                        <input class="form-control" type="text" name="listing[country]" id="country" placeholder="India" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label"><b>location</b></label>
                    <input class="form-control" type="text" name="listing[location]" id="location" placeholder="Ujjain">
                </div>
                    <button class="btn btn-dark btn-add offset-5">Add</button>
                <br><br>
            </form>
        </div>
    </div>
</body>