<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
    <div class="alert alert-danger offset-4 col-md-5 mt-3 " role="alert">
       <div class="alert-heading"><%=message%>!</div>
      </div>
</div>