.btn{
    border-radius: 8px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 500;
}
.btn:hover{
    background-color: #0d6efd;
    color: white;
}
input,textarea{
    margin: 0 20px 0px 20px;
}
.btn{
    margin-left: 70px;
}