body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.btn{
    border-radius: 8px;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    padding: 3px 6px;
    font-size: 13px;
    font-weight: 500;
}
.btn:hover{
    background-color: #0d6efd;
    color: white;
}
h3{
    margin-left: 30px;
}
ul{
    margin-left: 30px ;
}
li
{
    color: grey;
}
.ancor  {
    color: #20b2aa;
    text-decoration: none;
}
.card{
    border: none;
    margin-bottom: 2rem;
}
.row{
    margin-left: 1rem;
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card-body {
    padding: 0;
}
.card-text p{
    font-weight: 400 !important;
}